.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
}

.background-shadow {
  background-color: #796861bb;
}

.container-img-hero {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.img-hero {
  background-image: url("../../assets/images/logo-hero-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 13rem;
  width: 22rem;
}

.container-paragraph p {
  display: flex;
  justify-content: center;
  color: white;
  padding: 0 10rem;
  padding-bottom: 2.1rem;
}