.dish-count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #bcbaba solid 1px;
  box-shadow: 0px 0px 2px 0px #5a392c30;
  border-radius: 10px;
  gap: 7px;
}

.count-container button {
  background-color: #dadada;
  color: black;
  border: none;
  padding: 0.6rem 0.6rem;
  border-radius: 8px;
}

.count-container button:hover {
  background-color: #878787;
  color: white;
  border: none;
  padding: 0.6rem 0.6rem;
}

.count-style {
  width: 1.6rem;
  text-align: center;
}

.btn-container button {
  margin-top: 7px;
  height: 2.5rem;
  width: 30rem;
  border-radius: 10px;
  background-color: #796861;
  color: white;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: #57453e;
}