.container-div-container {
  background-color: #F4F4F4;
  margin: 1rem 6rem;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center
}

.container-img-hero {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.img-description {
  background-image: url("../../assets/images/img-restaurant.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 7rem;
  width: 24.5rem;
}

.description-message {
  padding-left: 30px;
}