.navbar {
  background-color: #F4F4F4;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1019607843);
  padding: 0 4rem;
  position: sticky;
  z-index: 100;
  top: 0;
}

.container-logo {
  height: 4rem;
  display: flex;
  align-items: center;
}

.img-logo {
  background-image: url("../../assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 3.2rem;
  width: 3.2rem;
}

.img-logo-name {
  background-image: url("../../assets/images/logo-name.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 3.2rem;
  width: 17rem;
}

.navbar-links {
  background-color: #E7E6E6;
  padding: 1.3rem;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  font-weight: 500;
}

.nav-link a {
  background-color: #796861;
  text-decoration: none;
  color: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.55rem 1rem;
  margin: 0 0.6rem;
  border-radius: 7px;
}

.nav-link a:hover {
  background-color: #ffffff;
  color: #796861;
}